.contact__form, .contact__devs { width: 60vw; }
.contact__form h2,.contact__devs h2 {
    font-size: var(--fonte_subtitulo-pequeno);
    font-family: var(--fonte_inter);
    padding: 0 15px;
    margin: 0 0 70px 0;
}
/* formulário */
.form__container {
    display: flex; 
    justify-content: center;
    margin: 0 0 70px 0;
}
.form__img {
    border-radius: 15px 0 0 15px;
    max-width: 500px;
    box-shadow: 1px 2px 4px #00000080;
}
form {
    padding: 30px 50px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 40px;
    background-color: var(--cor_azul);
    box-shadow: 1px 2px 4px #00000080;
}
.input__container {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
.input__container--radio { display: flex; gap: 40px;}
.form__subtitle {
    font-family: var(--fonte_inter);
    font-size: var(--fonte_corpo);
    color: var(--cor_branco);
}
.form__subtitle--radio { margin: 0 10px; }
#nomeContato, 
#emailContato, 
#telContato, 
#motivoContato {
    width: 450px;
    font-family: var(--fonte_inter);
    border-radius: 12px;
    padding: 10px 15px;
    resize: none;
}
.form__submit {
    padding: 15px 100px;
    border-radius: 12px;
    font-family: var(--fonte_inter);
    font-size: var(--fonte_corpo);
    color: var(--cor_branco);
    background-color: var(--cor_laranja);
}
/*cards dos desenvolvedores*/
.devs__layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 70px;
}
.card__container { 
    padding: 20px 30px;
    border-radius: 12px;
    max-width: 400px;
    text-align: end;
    border: 1px solid #cfcfcf;
    box-shadow: 1px 2px 4px #00000080;
}
.card__img {
    width: 80px;
    border-radius: 100%;
}
.card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__top h3 {
    font-family: var(--fonte_inter);
    font-size: var(--fonte_subtitulo-pequeno);
    color: var(--cor_laranja)
}

.card__container p {
    margin: 20px 0;
    font-family: var(--fonte_inter);
    font-size: var(--fonte_corpo);
}
.card__socialmedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.card__socialmedia a img {
    filter: invert(56%) sepia(92%) saturate(889%) hue-rotate(172deg) brightness(104%) contrast(104%);
    width: 1.9rem;
}
.project__link {
    margin: 70px auto 0;
    font-family: var(--fonte_inter);
    font-size: var(--fonte_corpo);
    font-weight: 600;
    color: var(--cor_cinza);
    text-align: center;
}
.project__link a { 
    color: var(--cor_laranja);
    text-decoration: underline;
}
.card__socialmedia a img:hover,
.card__img:hover { transform: scale(1.250);}

@media screen and (max-width: 1180px) { /* tablet screen */ 
    .contact__form, .contact__devs {width: auto; }
    .contact__form h2,.contact__devs h2 { margin-bottom: 35 px; }
    form { padding: 40px 0; }
    .form__container { flex-direction: column; }
    .form__img { 
        max-width: 100%;
        border-radius: 15px 15px 0 0; 
    }
    form { border-radius: 0  0 15px 15px; }
    .devs__layout {
        align-items: center;
        gap: 30px;
    }
    .card__container { width: 70vw;}   
}
@media screen and (max-width: 600px) { /* phone screen */
    #nomeContato, 
    #emailContato, 
    #telContato, 
    #motivoContato {
        width: 250px;
    }
}