#hero { /* estilização exclusiva da página principal*/
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(../imgs/carousel_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero--color { color: var(--cor_branco); }
.hero {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 90px;
    margin-top: 20vh;
    z-index: 1;
}
.hero-title {
    font-size: var(--fonte_titulo);
    font-family: var(--fonte_inter);
    font-weight: 500;
    font-style: italic;
    color: var(--cor_branco);
    text-shadow: 4px 0 4px #00000030;
}
.hero-subtitle {
    font-size: var(--fonte_subtitulo-pequeno);
    font-family: var(--fonte_inter);
    color: var(--cor_branco);
    text-shadow: 4px 0 4px #00000030;
}
.hero__arrow {
    bottom: 35px;
    position: absolute;
}.hero__arrow img { width: 80%; }
.hero--color { color: var(--cor_branco); }

.ongs__container {
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
}
.home__ongs { 
    margin: 70px 0 120px;
    align-items: center; 
}
.ongs__container h2 {
    color: var(--cor_cinza);
    font-size: var(--fonte_subtitulo-pequeno);
    font-family: var(--fonte_inter);
}
.home__btn__layout {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px 30px;
    max-width: 1200px;
}
.hero__bg-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
}

/*conteúdo da página principal*/
#sobre {
    font-family: var(--fonte_inter);
    margin: 100px 0;
}
.home__subheading { 
    margin: 0 16vw;
    color: var(--cor_cinza); 
}
.home__about__layout {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 100px;
    margin: 35px 16vw 70px;
}
.home__about { 
    display: flex; 
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 200px;
}  .home__about:last-of-type { flex-flow: row-reverse wrap; }
.home__about img { 
    width: 25vw;
}
.home__about h4{
    font-size: var(--fonte_subtitulo-pequeno);
    padding: 0 15px;
    margin: 30px 0 15px;
}
.home__about div {
    width: 600px;
    text-align: justify;
}
.home__about ul { margin: 0 0 0 30px; }
.home__about li { list-style-type: disc; }


.home__banner { width: 100%; }
.home__sponsor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    margin: 35px 0 70px;
} 
.home__sponsor img { width: 8vw; }

@media screen and (max-width: 600px) { /* tablet screen */  
    .ongs__container h2 { 
        margin: 70px 30px 0px; 
        text-align: center;    
    }
    .home__ongs { margin: 0; }
    .hero { margin-top: 25vh; }
}
@media screen and (max-width: 1100px) { /* tablet screen */   
    .hero { gap: 20px; }
    .hero-title { font-size: var(--fonte_subtitulo-medio); }
    .hero-subtitle { font-size: var(--fonte_corpo); }
    .hero__arrow img { width: 40%; }
    #sobre { margin: 70px 30px; }
    .home__subheading { margin: 0; }
    .home__about__layout { gap: 70px; }
    .home__about { width: auto; }
    .home__about img { width: 80vw; }
    .home__sponsor img { width: 30vw; }
}