/*importando as fontes necessárias para o projeto*/
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&family=Inter:wght@400;600;700&display=swap');
/*importando os componentes do projeto para o arquivo principal*/
@import url(./hero.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./home.css);
@import url(./info.css);
@import url(./crianca.css);
@import url(./form.css);

html { scroll-behavior: smooth; } /*garante que a navegação seja agradável visualmente*/
/*reset css*/
* {
    margin: 0; padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: 0;
    transition: all ease 0.5s;
}

:root {
    /*paleta de cores do projeto*/
    --cor_azul: #36C2FF;
    --cor_rosa: #FF5677;
    --cor_laranja: #FF8736;
    --cor_branco: #FFFFFF;
    --cor_preto: #000000;
    --cor_cinza: #7F7F7F;
    --cor_cinza-claro: #D9D9D9;

    /*fontes e tamanhos padrões*/
    --fonte_grandstander: 'Grandstander', cursive;
    --fonte_inter: 'Inter', sans-serif; 
    --fonte_titulo: 3rem; /*48px*/
    --fonte_subtitulo-grande: 2.5rem; /*40px*/
    --fonte_subtitulo-medio: 2rem; /*32px*/
    --fonte_subtitulo-pequeno: 1.563rem; /*25px*/
    --fonte_corpo: 1rem; /*16px*/
    --fonte_corpo-pequeno: 0.8rem;
}

.main__margins {
    margin: 70px 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.heading__border { border-left: solid 5px var(--cor_rosa); }


/*botões*/
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 15px 40px;
    font-family: var(--fonte_inter);
    font-weight: 600;
    font-size: var(--fonte_corpo);
    color: var(--cor_branco);
    margin: 10px;
    box-shadow: 0 2px 3px 0 #00000030;
}
.btn2 {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 18px 0;
    width: 250px;
    font-family: var(--fonte_inter);
    font-weight: 600;
    font-size: var(--fonte_corpo);
    color: var(--cor_branco);
}
.btn--top {
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px; right: 80px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--cor_rosa);
    box-shadow: 0px 5px 5px 0px #00000080;
} .btn--top img { width: 23px; }
.btn--azul { background-color: var(--cor_azul); }
.btn--azul:hover { background-color: var(--cor_laranja); }
.btn--laranja { background-color: var(--cor_laranja); }
.btn--laranja:hover { background-color: var(--cor_azul); }

.divulgue__layout {
    display: flex;
    gap: 150px;
    justify-content: center;
    margin: 70px 0;
}
.divulgue__layout p {
    font-size: var(--fonte_corpo);
    font-family: var(--fonte_inter);
    font-weight: 500;
    width: 35vw;
}
.divulgue__btn {
    text-align: center;
    width: 220px;
    height: fit-content;
}

@media screen and (max-width: 1180px) { /* tablet screen */  
    .main__margins { 
        margin: 70px 30px;
        align-items: flex-start; }
    .divulgue__layout {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 35px 0 70px;
    }
    .divulgue__layout p { 
        text-align: center;
        width: 90vw; }    
    .btn { 
        padding: 15px 20px;
        font-size: var(--fonte_corpo-pequeno);
    }
    .btn2 { 
        padding: 15px 20px;
        font-size: var(--fonte_corpo-pequeno);
    }
}